<%= form_for(new) do |f| %>
	<% if new.errors.any? %>
	<%= new.errors.count %>errors prohibited this obj from being saved:
	<% new.errors.full_messages.each do |message| %>
	<%= message %>
	<% end %>
<% end %>
	<div class="row">
		<h2>title</h2>
		<%= f.text_field :title, class: "col-xs-12 book_title" %>
	</div>

	<div class="field row">
		<h2>body</h2> 
		<%= f.text_area :body, class: "col-xs-12 book_body" %>
	</div>

	<div class="actions row">
		<%= f.submit "Create Book", class: "btn btn-primary col-xs-12" %>
	</div>
  <% end %>
